{% extends "layouts/base-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
  Esparta Suites - Inicio
{% endblock title_page %}

{% block home_active %}
  class="text-dark"
{% endblock home_active %}

{% block aptos_active %}
  class="text-dark"
{% endblock aptos_active %}

{% block informacion_active %}
  class="text-dark"
{% endblock informacion_active %}

{% block contacto_active %}
  class="text-dark"
{% endblock contacto_active %}

{% block body_block %}
<div class="about_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="about_info">
          <div class="col-lg-12 mx-auto">
            <div class="container">
							<div class="d-flex flex-column">
								<p class="m-auto text-dark">Tu contraseña ha sido reestablecida. Ahora puedes <a href="{% url 'condominio_app:home' %}" class="text-primary">iniciar sesión</a> ahora.</p>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}

