{% extends "layouts/base-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
  Esparta Suites - Restaurar contraseña
{% endblock title_page %}

{% block home_active %}
  class="text-dark"
{% endblock home_active %}

{% block aptos_active %}
  class="text-dark"
{% endblock aptos_active %}

{% block informacion_active %}
  class="text-dark"
{% endblock informacion_active %}

{% block contacto_active %}
  class="text-dark"
{% endblock contacto_active %}

{% block body_block %}
<div class="about_area">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12">
        <div class="about_info">
          <div class="col-lg-12 mx-auto">
            <div class="container">

							<div class="d-flex flex-column">
									<p class="m-auto p-2 text-dark">
										Te hemos enviado un correo electrónico con instrucciones para reestablecer tu contraseña, si existe una cuenta con el correo electrónico ingresado. Entonces debería de recibir un mensaje en poco tiempo.
									</p>
									<p class="m-auto p-2 text-dark">
										Si no recibes ningún correo electrónico para restaurar tu contraseña entonces por favor verifique que el correo ingresado sea el correcto y revise su bandeja de spam.
									</p>
									<p class="m-auto p-2"><a href="{% url 'condominio_app:home' %}" class="btn btn-primary move-up"><i class="fa fa-home"></i> Volver a la página de inicio</a></p>
							</div>
						</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body_block %}