{% extends "layouts/base-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
  Esparta Suites - Contacto
{% endblock title_page %}

{% block contacto_active %}
	class="active"
{% endblock contacto_active %}

{% block body_block %}
<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg_2">
	<h3>Contacto</h3>
</div>
<!-- bradcam_area_end -->

<!-- ================ contact section start ================= -->
<section class="contact-section">
	<div class="container">
		<div class="d-none d-sm-block mb-5 pb-4">
			<div id="map" style="height: 480px; position: relative; overflow: hidden;">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.889299667705!2d-63.82261054905718!3d10.971727692150793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c318ee10db7993d%3A0x566bf812fd9dda8c!2sEsparta%20Suites!5e0!3m2!1ses!2sve!4v1619141356218!5m2!1ses!2sve"
						width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>


		<div class="row">
			<div class="col-12">
				<h2 class="contact-title">Contacta con nosotros</h2>
			</div>
			<div class="col-lg-8">

				<form class="form-contact contact_form" method="POST" action="{% url 'condominio_app:send_mail' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-12">
							<div class="form-group">
									<textarea class="form-control w-100" name="body" id="body" cols="30" rows="9"
											  onfocus="this.placeholder = ''"
											  onblur="this.placeholder = 'Escribe tu mensaje...'"
											  placeholder="Escribe tu mensaje..."></textarea>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control valid" name="nombre" id="nombre" type="text"
									   onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Escribe tu Nombre completo'"
									   placeholder="Nombre completo">
							</div>
						</div>

						<div class="col-sm-6">
							<div class="form-group">
								<input class="form-control valid" name="email" id="email" type="email"
									   onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Escribe tu correo eléctronico'"
									   placeholder="Correo Eléctronico">
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<input class="form-control" name="asunto" id="asunto" type="text"
									   onfocus="this.placeholder = ''"
									   onblur="this.placeholder = 'Escribe el asunto de tu mensaje'"
									   placeholder="Asunto">
							</div>
						</div>

						<div class="form-group mt-3">
							<button type="submit" class="button button-contactForm boxed-btn">Enviar consulta</button>
						</div>
					</div>
				</form>
				<img src="https://i.postimg.cc/j2LwJpxF/preguntas.jpg" alt="" style="border-radius: 40%;">
			</div>
			<div class="col-lg-3 offset-lg-1">
				<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-home"></i></span>
					<div class="media-body">
						<h3>Nueva Esparta, Venezuela.</h3>
						<p>Porlamar, VE 6301</p>
					</div>
				</div>
				<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-tablet"></i></span>
					<div class="media-body">
						<h3>+58 295-2629586</h3>
						<p>Lunes a Viernes 8am a 4pm</p>
					</div>
				</div>
				<div class="media contact-info">
					<span class="contact-info__icon"><i class="ti-email"></i></span>
					<div class="media-body">
						<h3>inverdata@gmail.com</h3>
						<p>¡Envianos tu consulta en cualquier momento!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ================ contact section end ================= -->
{% endblock body_block %}