{% extends "layouts/base-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
Esparta Suites - Inicio
{% endblock title_page %}

{% block home_active %}
class="active"
{% endblock home_active %}

{% block body_block %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center p-5 rounded"style="width: 100%; background-color: rgba(0, 0, 0, 0.2);">
                            <h3>C.C. Ciudad Chinita</h3>
                            <!-- <p class="text-light">[Eslogan]</p> -->
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text text-center p-5 rounded"
                             style="width: 100%; background-color: rgba(0, 0, 0, 0.2);">
                            <h3>Saphiro Condominio Web</h3>
                            <p>Inverdata Software and Technology C.A.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->

<!-- Mensaje de bienvenida -->
<a href="/contacto/">
<div class="publicity"> <img src="{% static '/img/icons/EnterpriseIcon.png' %}">  </div>
</a>
<a href="/contacto/"> 
<div class="publicity publicity-2"> <img src="{% static '/img/icons/EnterpriseIcon2.png' %}">  </div>
</a>
<div class="row mensaje-bienvenida">
   
    <div class="col-sm-12 col-12 content_mensaje">
        <h1 class="col-12 sub-mensaje-header">¡Bienvenido!</h1><br>
        <p class="sub-mensaje">En Saphiro condominio el sueño de encontrar el hogar perfecto comienza aquí. Explore nuestra selección de propiedades destacadas y descubra cómo podemos hacer realidad su visión de la vivienda ideal. Con experiencia, pasión y un compromiso firme con la excelencia, estamos aquí para guiarlo en cada paso del camino.</p>
    </div>
    
    <div class="section-header"> 
        
    </div>
</div>



<body>

    <body>
  <!-- El modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>¡Aquí está tu anuncio publicitario!</p>
      <img src="" alt="">
    </div>
  </div>
  <script>
    
    // Obtener el modal
    var modal = document.getElementById("myModal");
    var publicidades = [""];

    // Mostrar el modal después de 5 segundos
    setTimeout(function() {
      modal.style.display = "block";
    }, 30000);

    // Cerrar el modal cuando se hace clic fuera del contenido
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

    <div class="propiedades">
        <div class="row inmuebles">
            <h1 class="subtitulo col-sm-12">Locales en venta</h1>
            <div class="col-md-3 col-sm-12 col-12 inmueble">
                <img  src="{% static '/img-aptos/apto1.jpg' %}" alt="Inmuebles" class="img-rarrusel" style="width:80%;">
                <div class="caja-apartamento" style="align-items:left !important;">
                    <strong><h3 class="nombre-apto">Titulo 1</h3></strong>
                    <ul class="data-apartamento">
                        <li>Tamaño: 10x10</li>
                        <li>Habitaciones: 3</li>
                        <li>Baños: 3</li>
                        <li>Estacionamientos:</li>
                    </ul>
                </div>
                  
                <div class="button-contact-container">
                    <button class="button-contact" id="button-contact-1">Contactar</button>
                </div>
            
              
            </div>
        </div>

    
    
           
    <!-- about_area_start -->
   <div class="about_area">
     <div class="container row">
         <div class="corporaciones">
            <h1 class="subtitulo-2 col-sm-12">Propiedades en alquiler</h1>
            <div class="inmuebles"> 
                {% for alquiler in alq %}
                {% if alquiler.imagen %}
                
                <div class="col-md-3 col-sm-12 col-12 inmueble2">
                   
                    

                    <div class="contenedor-slider123"> <!-- seria contenedro-slider-->
                             <div class="slider-izquierdo">
                             <img decoding="async" src="{% static '/img/icons/ooui--next-rtl.png' %}" alt="" >
                             </div>
                             <div class="slider-screen1"> 
                             <img src="{{  alquiler.imagen.url }}">
                             </div>
                             <div class="slider-derecho">
                             <img decoding="async" src="{% static '/img/icons/ooui--next-ltr.png' %}" alt="">
                             </div>
                    </div>
                <div class="caja-apartamento" style="align-items:left !important;">
                        <strong><h6 class="nombre-apto-2">{{alquiler.titulo}}</h6></strong>
                        <ul class="data-apartamento-2">
                            <li>Tamaño:</li>
                            <li>Piso:</li>
                            <li>Nro:</li>
                            <li>Servicios:</li>

                        </ul>
                    </div>

                    <div class="button-home-alquiler">
                      
                    <button class="button-contact">Reservacdo</button>
                    {% if alquiler.estado == False %}
                    <div class="btnReservar" style="background-color: red; color: white;"><br> <a class="BtnReservacion" href="/home/administrar/reservacion/{{ alquiler.id_alquiler }}">Reservacdo</a><br></div>
                    </div>
                    {% else %}
                    <div class="btnReservar"><br> <a class="BtnReservacion" href="/home/administrar/reservacion/{{ alquiler.id_alquiler }}">Reservar</a><br></div>
                    </div>
                    {% endif %}
                </div>
                
                {% else %}
                <p>No hay alquileres</p>
                {% endif %}
                {% endfor %}


                <div class="pagination-alq">
                 <span class="step-links">
                {% if alq.has_previous %}
                    <a href="?page=1">&laquo; primera</a>
                    <a href="?page={{ alq.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ alq.number }} de {{ alq.paginator.num_pages }}.
                </span>
        
                {% if alq.has_next %}
                    <a href="?page={{ alq.next_page_number }}">siguiente</a>
                    <a href="?page={{ alq.paginator.num_pages }}">última &raquo;</a>
                {% endif %}
                 </span>
             </div>


               <style>
                        .BtnReservacion {
                            text-decoration: none;
                            color: white;
                        }
                    </style>
                    
                    </div>
            </div>
            <div class="col-xl-5 col-lg-5 container-about-info">
                <div class="about_info">
                    <div class="section_title">
                        
                        <h2 class="about-us-tittle">Sobre nosotros</h2>

                        <p>CENTRO COMERCIAL CIUDAD CHINITA <br>
                            🛍El Centro Comercial que reúne a la familia <br>
                            ⏰Todos los días | 8:00am - 6:00pm <br>
                            📍Avenida Las Delicias, Maracaibo. <a href="/sobre-nosotros/" class="aSectionHome">Ver mas</a></p> <br>
                            <div class="img_1">
                                <img src="{% static '/img-inverdata/Inverdata-Logo.png' %}" alt="" style="width:72px;">
                            </div>
                    </div>
                </div>
            </div>


                 <!-- about_area_end -->
                </div>    
                 <!-- forQuery_start -->
                    <div class="forQuery">
                        <div class="container">
                          <div class="row">
                                <div class="col-xl-12 offset-xl-0 col-md-12 container-contact">
                                    <div class="Query_border">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-xl-7 col-md-6"> </div>
                                                <div class="Query_text">
                                                    <h3>¿Necesitas hacer una consulta? <a class="contactanos-home" href="/contacto/" target="_blank">Contactanos</a></h3>
                                                    <div class="align-right object-right">
                                                    </div>
                                                </div>    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    

<!-- forQuery_end -->
</body>
</div>

{% endblock body_block %}
