{% extends "layouts/base-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
  Esparta Suites - Inicio
{% endblock title_page %}

{% block informacion_active %}
	class="active"
{% endblock informacion_active %}

{% block body_block %}
	<!-- bradcam_area_start -->
	<div class="bradcam_area breadcam_bg">
		<h3>Noticia</h3>
	</div>
	<!-- bradcam_area_end -->

	<!--================Blog Area =================-->
	<section class="blog_area single-post-area section-padding">
		<div class="container">
			<div class="row">
        {% if publicacion %}
          <div class="col-lg-8 posts-list">
            <div class="single-post">
              <div class="feature-img">
                <img class="img-fluid d-flex mx-auto rounded" src="{{publicacion.imagen.url}}" alt="">
              </div>
              <div class="blog_details">
                <h2>{{publicacion.titulo}}
                </h2>
                <!-- <ul class="blog-info-link mt-3 mb-4">
                  <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                  <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                </ul> -->
                
                <div class="quote-wrapper rounded">
                  <p class="normal-font text-dark">
                    {{publicacion.descripcion}}
                  </p>
                </div>
              </div>
            </div>
            <div class="navigation-top">
              <div class="d-sm-flex justify-content-between text-center">
                <p class="like-info"><span><i class="fa fa-calendar"></i></span>Publicado el {{publicacion.fecha_publicacion}}</p>
                <!-- <div class="col-sm-4 text-center my-2 my-sm-0">
                  <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p>
                </div> -->
                <ul class="social-icons">
                  <!-- <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                  <p class="like-info"><span><i class="fa fa-calendar"></i></span>Actualizado el {{publicacion.fecha_actualizado}}</p>
                </ul>
              </div>
              <div class="navigation-area">
                <div class="row">
                  <!-- PUBLICACIÓN ANTERIOR -->
                  {% if previous_post != None %}
                    <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                      <div class="thumb">
                        <a href="{% url 'condominio_app:noticia' previous_post.slug %}">
                          <img class="img-fluid" src="{{previous_post.imagen.url}}" alt="" width="60px" height="60px">
                        </a>
                      </div>
                      <div class="arrow">
                        <a href="{% url 'condominio_app:noticia' previous_post.slug %}">
                          <span class="lnr text-white ti-arrow-left"></span>
                        </a>
                      </div>
                      <div class="detials">
                        <p>Publicación anterior</p>
                        <a href="{% url 'condominio_app:noticia' previous_post.slug %}">
                          <h4>{{previous_post.titulo}}</h4>
                        </a>
                      </div>
                    </div>
                  {% endif %}
                  

                  <!-- SIGUIENTE PUBLICACION -->
                  {% if next_post != None %}
                    {% if previous_post == None %}
                      <div class="col-lg-12 col-md-12 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">
                          <p>Siguiente publicación</p>
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <h4>{{next_post.titulo}}</h4>
                          </a>
                        </div>
                        <div class="arrow">
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <span class="lnr text-white ti-arrow-right"></span>
                          </a>
                        </div>
                        <div class="thumb">
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <img class="img-fluid" src="{{next_post.imagen.url}}" alt="" width="60px" height="60px">
                          </a>
                        </div>
                      </div>
                    {% else %}
                      <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                        <div class="detials">
                          <p>Siguiente publicación</p>
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <h4>{{next_post.titulo}}</h4>
                          </a>
                        </div>
                        <div class="arrow">
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <span class="lnr text-white ti-arrow-right"></span>
                          </a>
                        </div>
                        <div class="thumb">
                          <a href="{% url 'condominio_app:noticia' next_post.slug %}">
                            <img class="img-fluid" src="{{next_post.imagen.url}}" alt="" width="60px" height="60px">
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- <div class="blog-author">
              <div class="media align-items-center">
                <img src="img/blog/author.png" alt="">
                <div class="media-body">
                  <a href="#">
                    <h4>Harvard milan</h4>
                  </a>
                  <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                    our dominion twon Second divided from</p>
                </div>
              </div>
            </div>
            <div class="comments-area">
              <h4>05 Comments</h4>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="img/comment/comment_1.png" alt="">
                    </div>
                    <div class="desc">
                      <p class="comment">
                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                      </p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                          <h5>
                            <a href="#">Emilly Blunt</a>
                          </h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                        </div>
                        <div class="reply-btn">
                          <a href="#" class="btn-reply text-uppercase">reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="img/comment/comment_2.png" alt="">
                    </div>
                    <div class="desc">
                      <p class="comment">
                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                      </p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                          <h5>
                            <a href="#">Emilly Blunt</a>
                          </h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                        </div>
                        <div class="reply-btn">
                          <a href="#" class="btn-reply text-uppercase">reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="comment-list">
                <div class="single-comment justify-content-between d-flex">
                  <div class="user justify-content-between d-flex">
                    <div class="thumb">
                      <img src="img/comment/comment_3.png" alt="">
                    </div>
                    <div class="desc">
                      <p class="comment">
                        Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                        Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                      </p>
                      <div class="d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                          <h5>
                            <a href="#">Emilly Blunt</a>
                          </h5>
                          <p class="date">December 4, 2017 at 3:12 pm </p>
                        </div>
                        <div class="reply-btn">
                          <a href="#" class="btn-reply text-uppercase">reply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="comment-form">
              <h4>Deja una respuesta</h4>
              <form class="form-contact comment_form" action="#" id="commentForm">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                        placeholder="Escribe tu comentario..."></textarea>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="name" id="name" type="text" placeholder="Nombre">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input class="form-control" name="email" id="email" type="email" placeholder="Correo Eléctronico">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" class="button button-contactForm btn_1 boxed-btn">Enviar respuesta</button>
                </div>
              </form>
            </div> -->
          </div>
        {% endif %}
				
				<div class="col-lg-4">
					<div class="blog_right_sidebar">
						<aside class="single_sidebar_widget search_widget">
							<form action="#">
								<div class="form-group">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder='Buscar' onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'Buscar'">
										<div class="input-group-append">
											<button class="btn" type="button"><i class="ti-search"></i></button>
										</div>
									</div>
								</div>
								<button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
									type="submit">Buscar</button>
							</form>
						</aside>
						<!-- <aside class="single_sidebar_widget post_category_widget">
							<h4 class="widget_title">Category</h4>
							<ul class="list cat-list">
								<li>
									<a href="#" class="d-flex">
										<p>Resaurant food</p>
										<p>(37)</p>
									</a>
								</li>
								<li>
									<a href="#" class="d-flex">
										<p>Travel news</p>
										<p>(10)</p>
									</a>
								</li>
								<li>
									<a href="#" class="d-flex">
										<p>Modern technology</p>
										<p>(03)</p>
									</a>
								</li>
								<li>
									<a href="#" class="d-flex">
										<p>Product</p>
										<p>(11)</p>
									</a>
								</li>
								<li>
									<a href="#" class="d-flex">
										<p>Inspiration</p>
										<p>(21)</p>
									</a>
								</li>
								<li>
									<a href="#" class="d-flex">
										<p>Health Care</p>
										<p>(21)</p>
									</a>
								</li>
							</ul>
						</aside> -->
						<aside class="single_sidebar_widget popular_post_widget">
							<h3 class="widget_title">Publicaciones recientes</h3>
              {% if recent_posts %}
                {% for recent_post in recent_posts|slice:7 %}
                  <div class="media post_item">
                    <img src="{{recent_post.imagen.url}}" alt="post" width="80px" height="80px">
                    <div class="media-body">
                      <a href="{% url 'condominio_app:noticia' recent_post.slug %}">
                        <h3>{{recent_post.titulo}}</h3>
                      </a>
                      <p><i class="fa fa-calendar"></i> Publicado el {{recent_post.fecha_publicacion|date:"d/m/Y"}}</p>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
						</aside>
						<!-- <aside class="single_sidebar_widget tag_cloud_widget">
							<h4 class="widget_title">Tag Clouds</h4>
							<ul class="list">
								<li>
									<a href="#">project</a>
								</li>
								<li>
									<a href="#">love</a>
								</li>
								<li>
									<a href="#">technology</a>
								</li>
								<li>
									<a href="#">travel</a>
								</li>
								<li>
									<a href="#">restaurant</a>
								</li>
								<li>
									<a href="#">life style</a>
								</li>
								<li>
									<a href="#">design</a>
								</li>
								<li>
									<a href="#">illustration</a>
								</li>
							</ul>
						</aside> -->
						<!-- <aside class="single_sidebar_widget instagram_feeds">
							<h4 class="widget_title">Instagram Feeds</h4>
							<ul class="instagram_row flex-wrap">
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_5.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_6.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_7.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_8.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_9.png" alt="">
									</a>
								</li>
								<li>
									<a href="#">
										<img class="img-fluid" src="img/post/post_10.png" alt="">
									</a>
								</li>
							</ul>
						</aside> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ Blog Area end =================-->
{% endblock body_block %}
	