{% extends "layouts/admin-layout.html" %}


{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% block modulo_label %}
<span>Actualizacion de datos:</span>
{% endblock modulo_label %}
{% block body_block %}

<form action="/domicilio_update/" method="POST">
    {% csrf_token %}
    <div class="form-style-10 col-sm-12 mt-3" style="
    width: 42rem;
    display: grid;
    margin-left: 10rem;">
   
    <div class="form-group">
        <div class="inner-wrap form-row" bis_skin_checked="1" style="
    display: block;">
        <label for="Codigo Domicilio">Codigo del domicilio</label>
        <input type="text" name="txtCodigo" id="txtCodigo" value="{{domicilio.id_domicilio}}" class="form-control" readonly> <!--cambiar opacidad-->
    </div>
    </div>
    <div class="section mb-3"><span>1</span>Ubicación del inmueble</div>
    <div class="inner-wrap form-row" bis_skin_checked="1" style="
    display: block;">
    <div class="form-group">
        <label for="Nombre de la torre">Torre</label>
        <input type="text" name="txtTorre" id="txtTorre" value="{{domicilio.id_torre.nombre_torre}}"class="form-control" readonly> <!--cambiar opacidad-->
        </div>
    <div class="form-group">
        <label for="Piso">Piso</label>
        <input type="text" name="txtPisos" id="txtPisos" value="{{domicilio.id_torre.pisos}}"class="form-control" required> <!--cambiar opacidad-->
    </div>
    </div>  
    <div class="inner-wrap form-row" bis_skin_checked="1" style="
    display: block;">
    <div class="section mb-3"><span>2</span>Informacion del inmueble</div>
    <div class="form-group">
        <label for="Nombre del domicilio">Nombre del domicilio</label>
        <input type="text" id="txtNombreDomicilio" name="txtNombreDomicilio" value="{{domicilio.nombre_domicilio}}" class="form-control col-12 col-sm-6 col-md-6 col-lg-4">
    </div>
    <div class="form-group">
        <label for="">Tipo de domicilio</label>
        <select name="txtTipoDomicilio" id="txtTipoDomicilio" class="select_torre form-control text-dark"  required >
            <option value="" selected="" disabled="">Seleccione... </option>
            <option value="Apartamento">Apartamento</option> <!--cambiar opacidad-->
            <option value="Casa">Casa</option><!--cambiar opacidad-->
            <option value="Terreno">Terreno</option><!--cambiar opacidad-->
            <option value="Edificio">Edificio</option><!--cambiar opacidad-->
          </select>

     </div>
     <div class="form-group">
        <label for="Nombre del domicilio">Tamaño del inmueble (m²): </label>
        <input type="text" id="txtZiseDomicilio" name="txtZiseDomicilio" value="{{domicilio.size_domicilio}}" class="form-control col-12 col-sm-6 col-md-6 col-lg-4"><!--cambiar opacidad-->
     </div>
     <div class="form-group">
        <label for="Nombre del domicilio">Numero de estacionamientos</label>
        <input type="text" id="txtEstacionamientos" name="txtEstacionamientos" value="{{domicilio.estacionamientos}}" class="form-control col-12 col-sm-6 col-md-6 col-lg-4"><!--cambiar opacidad-->
    </div>
    </div>

    <div class="section mb-3"><span>3</span>Informacion del Propietario</div>
    <div class="inner-wrap form-row" bis_skin_checked="1" style="display: block;">
    <div class="size col-sm-12">
        <label for="Nombre del propietario">Nombre del propietario</label>
        <input type="text" id="txtNombrePropietario" name="txtNombrePropietario" value="{{domicilio.id_propietario.nombre_propietario}}" class="form-control text-dark"><!--cambiar opacidad--> 
        <br>
        <label for="C.I del propietario">C.I del propietario</label>
        <input type="text" id="" name="" value="{{domicilio.id_propietario.dni}}" class="form-control text-dark" readonly><!--cambiar opacidad--> 
        <br>
        <small class="mb-2 form-text text-center text-muted">Para modificar los campos relacionados con el propietariohaga clic aqui: <a style="color:#974608;"href="{% url 'condominio_app:admin_propietarios' %}" class="mb-2 form-text text-center text-muted"> <strong>Propietarios</strong></a></small>
        <br>
        <button type="submit" value="Actualizar" class="btn btn-success btn-block text-white" style="width: 75%;margin-top: 4rem;">Actualizar</button>
        <a class="btn btn-danger col-sm-12 border text-light move-up btn-cancel mt-3"
           href="/home/administrar/configuracion/condominio?tab=domicilios&lista=1"><i class="fa fa-arrow-left float-left pt-1"></i> Volver</a>
    </div>
    </div>
    </div>


</form>



    

{% endblock %}