{% extends "PDF/base_informe_pdf.html" %}
{% load static %}{% load i18n %}{% load humanize %}
{% block titulo_pagina %}Reporte de gastos {{ inicio }} al {{ fin }}{% endblock %}
{% block titulo_informe %}RELACIÓN MENSUAL DE GASTOS{% endblock %}
{% block contenido_pdf %}
<table class="table-informe table-lista-simple" style="margin-top: 15px;">
    <thead>
        <tr>
            <th>Fecha</th><th>Referencia</th><th>Descripción</th><th class="num">TOTAL Bs.</th><th class="num">US$</th><th class="num">EUR</th><th>Banco</th>
        </tr>
    </thead>
    <tbody>
        {% if gastos %}
        {% for gasto in gastos %}
        <tr>
            <td>{{ gasto.id_movimiento.fecha_movimiento|date:'d/m/Y' }}</td>
            <td>{{ gasto.id_movimiento.referencia_movimiento|default:"-" }}</td>
            <td>{{ gasto.id_movimiento.descripcion_movimiento|default:gasto.id_movimiento.concepto_movimiento }}</td>
            {% for banco in bancos %}
            {% if gasto.id_movimiento.id_banco_id == banco.id_banco and banco.tipo_moneda == 'BS' %}
            <td class="num">{{ gasto.id_movimiento.monto_movimiento|intcomma }}</td><td class="num">0</td><td class="num">0</td>
            {% endif %}
            {% if gasto.id_movimiento.id_banco_id == banco.id_banco and banco.tipo_moneda == 'USD' %}
            <td class="num">0</td><td class="num monto-usd">{{ gasto.id_movimiento.monto_movimiento|intcomma }}</td><td class="num">0</td>
            {% endif %}
            {% if gasto.id_movimiento.id_banco_id == banco.id_banco and banco.tipo_moneda == 'EUR' %}
            <td class="num">0</td><td class="num">0</td><td class="num monto-usd">{{ gasto.id_movimiento.monto_movimiento|intcomma }}</td>
            {% endif %}
            {% endfor %}
            {% for banco in bancos %}{% if banco.id_banco == gasto.id_movimiento.id_banco_id %}<td>{{ banco.nombre_banco }}</td>{% endif %}{% endfor %}
        </tr>
        {% endfor %}
        {% else %}
        <tr><td colspan="7" class="text-center"><strong class="text-danger">NO SE HA ENCONTRADO NINGÚN DATO</strong></td></tr>
        {% endif %}
    </tbody>
</table>
<table class="table-informe mt-5">
    <thead><tr><th>Total Bolívares</th><th class="num">Total USD</th><th class="num">Total EUR</th></tr></thead>
    <tbody><tr><td>{{ total_bs|intcomma }} Bs</td><td class="num monto-usd">{{ total_usd|intcomma }} USD</td><td class="num">{{ total_eur|intcomma }} EUR</td></tr></tbody>
</table>
<table class="table-informe mt-5" style="width:100%;">
    <tr>
        <td style="width:45%;">
            <table class="table-informe"><thead><tr><th colspan="2">Tasas (BCV)</th></tr></thead>
            <tbody>{% if tasas %}<tr><td>USD</td><td class="num">Bs/USD {{ tasas.tasa_BCV_USD }}</td></tr><tr><td>EUR</td><td class="num">Bs/EUR {{ tasas.tasa_BCV_EUR }}</td></tr>{% else %}<tr><td colspan="2" class="text-danger">NO HAY TASAS</td></tr>{% endif %}</tbody>
            </table>
        </td>
        <td style="width:10%;"></td>
        <td style="width:45%;">
            <table class="table-informe"><thead><tr><th colspan="2">Total conversión</th></tr></thead>
            <tbody>
                <tr><td>Bolívares</td><td class="num">{{ total_bs|intcomma }} Bs</td></tr>
                <tr><td>USD en Bs</td><td class="num">{{ total_usd_en_bs|intcomma }} Bs</td></tr>
                <tr><td>EUR en Bs</td><td class="num">{{ total_eur_en_bs|intcomma }} Bs</td></tr>
                <tr><td><strong>Total Bs</strong></td><td class="num monto-usd">{{ total_final_en_bs|intcomma }} Bs</td></tr>
            </tbody>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
{% block pie_informe %}
<div class="fila-total-informe">TOTAL GASTOS COMUNES &nbsp; {{ total_final_en_bs|intcomma }} Bs &nbsp; {{ total_usd|intcomma }} US$</div>
<div class="pie-avisos-informe">
    SEA RESPONSABLE. PAGUE PUNTUAL, DESPUES DE 3 MESES DE DEUDA PASARA A DEPARTAMENTO LEGAL<br>
    CUANDO REALICE EL PAGO INFORMELO AL WHATSAPP DEL CONDOMINIO<br>
    SI REALIZO SU PAGO DESPUES DEL 31/12, Y LE APARECE SU DEUDA VIEJA EN EL PRESENTE RECIBO POR FAVOR HACER CASO OMISO Y PAGAR LO PENDIENTE.
</div>
{% endblock %}
