{% extends "layouts/admin-layout.html" %}

{% load static %}
{% load i18n %}

{% block title_page %}
  Esparta Suites - Administración
{% endblock title_page %}

{% block modulo_label %}
  <span class="">Ver Ingreso</span>
{% endblock modulo_label %}

{% block opc_panel_class %}
  class="col-lg-3 end-padding-left"
{% endblock opc_panel_class %}

{% block body_block %}
<div class="col-lg-12 mb-5 mb-lg-0 end-padding-right end-padding-left" id="Bancos">
  <div class="container rounded modulo border-secondary pb-2">
    <div class="container pt-3 pb-1">

      <div class="divider"></div>

      {% if ingresos %}
      <div class="row pt-3">
        <!-- <p class="normal-font text-dark col-sm-12 text-center"><strong>Nombre del banco:</strong><br>
          <span>{{bancos.nombre_banco}}</span>
        </p> -->
      </div>
          <div class="row pt-3">
            <p class="normal-font text-dark col-sm-6"><strong>Concepto del ingreso:</strong> <span>{{ingresos.id_movimiento.concepto_movimiento}}</span></p>
            <p class="normal-font text-dark col-sm-6"><strong>Descripción del ingreso:</strong> <span>{{ingresos.id_movimiento.descripcion_movimiento}}</span></p>
          </div>
          <div class="row pt-3">
            <p class="normal-font text-dark col-sm-6"><strong>Fecha en la que se realizó el ingreso:</strong> <span>{{ingresos.id_movimiento.fecha_movimiento|date:"l, d/m/Y"}}</span></p>
            <p class="normal-font text-dark col-sm-6"><strong>Monto del ingreso:</strong> <span class="text-success">{{ingresos.id_movimiento.monto_movimiento}}</span></p>
          </div>
          <div class="row pt-3">
            <p class="normal-font text-dark col-sm-6"><strong>Fecha de registro del ingreso:</strong> <span class="">{{ingresos.id_movimiento.created_at|date:"l, d/m/Y"}}</span></p>
            <p class="normal-font text-dark col-sm-6"><strong>Última actualización:</strong> <span class="">{{ingresos.id_movimiento.created_at|date:"l, d/m/Y"}}</span></p>
          </div>
          <div class="row pt-3">
            {% if propietario %}
            {% for prop in propietario %}
              <p class="normal-font text-dark col-sm-6"><strong>Apartamento que realizó el ingreso:</strong> <span>{{prop.nombre_propietario}}</span></p>
            {% endfor %}
            {% endif %}
            <p class="normal-font text-dark col-sm-6"><strong>Banco que recibio el ingreso:</strong> <span>{{ingresos.id_movimiento.id_banco.nombre_banco}}</span></p>
          </div>
          {% if ingresos.imagen_referencial %}
            <div class="row center-area">
                <form method="POST" id="Confirm_form" class="center-area" action="{% url 'condominio_app:downloadReferenciaingreso' %}">
                    {% csrf_token %}
                    <input type="text" value="{{ingresos.id_ingreso}}" name="id_ingreso" hidden="hidden">
                    <input type="text" value="{{ingresos.imagen_referencial}}" name="ruta_imagen" hidden="hidden">
                    <button type="submit" style="font-size: 13px;" class="btn center-area btn-info mx-auto move-up"><strong>Descargar referencia</strong></button>
                </form>
            </div>
            {% else %}
            <div class="row pt-1">
                <p class="normal-font text-center text-dark col-sm-12 text-center"><strong>No se subió imagen de referencia</strong></p>
            </div>
            {% endif %}
          <div class="dropdown-divider"></div>
          <div class="d-grid pt-3" style="justify-content: right;">
            <a class="btn btn-danger btn-cancel col-sm-12 border text-light move-up"
              href="{{ back_url|default:'/home/administrar/ingresos' }}"><i class="fa fa-arrow-left float-left pt-1"></i> Volver al inicio</a>
          </div>
      {% endif %}
      
          
    </div>
  </div>
</div>
{% endblock body_block %}